  <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidenav" #sidenav mode="push">
        <mat-list role="list">
            <mat-list-item role="listitem"><a [routerLink]="['/main']" routerLinkActive=    ><mat-icon class="sidenav-icon">O</mat-icon>Objetos</a></mat-list-item>
            <mat-list-item role="listitem"><a [routerLink]="['/form']" routerLinkActive=    ><mat-icon class="sidenav-icon">F</mat-icon>Formulario</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" >
            <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
          <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
